
@import '../../../../../assets/scss/variables';

:host{
.card{
    padding:15px;
    height:140px;
    width:500px;
    background-color: $secondary;
    transform: translateY(-60%);
    margin-left: auto;
    margin-right: auto;
    display:block;
    color: white
}
::ng-deep .dropdown-menu{
    max-height: 400px !important;
    overflow-y: scroll !important;
}

::ng-deep .dropdown-item {
        &.active{
            color: #fff;
            text-decoration: none;
            background-color: $primary !important;
            }
    }
    &:active{
        color: #fff;
        text-decoration: none;
        background-color: $primary !important;
        }
    }





